/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/

/*font-family: 'Hind Siliguri', sans-serif;*/
/*font-family: 'Racing Sans One', cursive;*/
/*font-family: 'Six Caps', sans-serif;*/
/*font-family: 'Space Mono', monospace;*/
/*font-family: 'Farsan', cursive;*/

@font-face {
    font-family: 'Cantata One', serif;
    src: url("./fonts/CantataOne-Regular.ttf");
}

@font-face {
    font-family: 'Times New Roman', serif;
    src: local("Times New Roman");
}

body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;

    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    font-size: 1em;
    text-align: center;
    border: 1px solid;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    font: bold 1.17em 'Space Mono', monospace;
    text-align: center;

    margin: 0;
}

.header__weather-text
{
    font-size: .8em;
    text-align: justify;
    line-height: 1.1em;

    margin: 0;
}

.header__title
{
    font: 4rem 'Cantata One', serif;
    text-align: center;

    overflow: visible;

    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;

    font-size: .6em;

    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    font: bold 3.2em 'Six Caps', sans-serif;

    margin-top: 0;
    margin-bottom: 10px;
}

.article__title_font_racing
{
    font: italic 2em 'Racing Sans One', cursive;
}
.article__title_font_farsan
{
    font: italic 2.3em 'Farsan', cursive;
}

.article__title_font_racing,
.article__title_font_farsan
{
    font-weight: 700;
}


.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    font-size: .8em;
    font-style: italic;
    text-align: justify;
    text-indent: 1.1em;

    margin-top: 10px;
    margin-bottom: 4px;
}

.article__author
{
    display: block;

    font-size: .8em;
    font-weight: 700;
    text-align: center;

    margin-top: 10px;
}

.article__continue
{
    display: block;

    text-align: center;
    font-style: italic;
    font-size: 0.8em;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__image-caption
{
    font-size: .8rem;
    text-decoration: underline;
}

.article__subtitle
{
    font: bold 1.17em 'Times New Roman', sans-serif;
    text-align: center;

    margin: 10px 0;
}

.article__content p
{
    font-size: .8em;
    text-align: justify;
    text-indent: 1.1em;
}

.article_columns_two > div.article__content p
{
    column-count: 2;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    font: bold 1.17em 'Times New Roman', sans-serif;

    margin: 0;
}

.main-photo__desc
{
    font-size: .8em;

    margin-bottom: 20px;
}
.main-photo__caption
{
    font-size: .7rem;
    text-align: right;
    text-transform: uppercase;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
