html {
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #eeeeee;
}
h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*--- Шапка ---*/
header {
    flex: 0 0 auto;
    padding: 36px 15px 18px;
    text-align: center;
}

/*--- Основной контент ---*/
main {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    justify-content: space-around;
    padding: 30px 15px;
}

.main {
    display: flex;
    flex: 3 3 60%;
}

.sort {
    display: none;
}

.cards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 250px;
    grid-gap: 5px 5px;
    align-content: start;
    justify-content: center;
    align-items: start;
    grid-template-areas:
            "a b b"
            "c f g"
            "d d k"
            "z z z";
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
    /*padding: 0 0 0 15px;*/
}

.card {
    position: relative;

    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    margin: 0 10px 10px;
    overflow: hidden;
}

.card::after {
    position: absolute;
    left: 0;
    bottom: 20px;
    content: attr(data-name);

    color: #fff;

    background-color: rgba(10,10,10,.7);
    padding: 10px 15px;
    visibility: hidden;
}

.card:hover::after{
    visibility: visible;
}

.card__img {
    height: 200px;
}

.card__description {
    display: none;
    position: absolute;
    left: 0;
    bottom: 20px;

    color: #fff;

    background-color: rgba(10,10,10,.7);
    padding: 10px 15px;
}

/*--- Меню ---*/
.menu {
    flex: 1 1 20%;
    background-color: #d2d2d2;
}

.menu__right {
    align-self: flex-start;
}

.menu__list {
    list-style-type: none;
}

.menu__item {
    display: flex;
    align-items: flex-start;
    padding: 12px 18px 15px 12px;
}

.menu__left .menu__item {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 #6d6a6a;
}

.menu__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fd0707;
    padding: 10px;
}
/*--- Сортировка ---*/
.menu__right label {
    display: inline-block;
    width: 80%;
    text-align: right;
}
.menu__right .menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
}
#sort:checked ~ ul > li[data-rating='10']{
    order: 1;
}
#sort:checked ~ ul > li[data-rating='9'] {
    order: 2;
}
#sort:checked ~ ul > li[data-rating='8'] {
    order: 3;
}
#sort:checked ~ ul > li[data-rating='4'] {
    order: 4;
}

/* --- Рейтинг ---*/
.rating__item {
    padding: 12px 18px 15px 12px;
}
.rating__title {
    display: block;
    width: 100%;
}
.rating__gradient {
    display: flex;
    align-items: center;
}
.rating__line {
    justify-content: flex-start;
    width: 90%;
    height: 13px;
    margin-right: 10px;
}
.rating__line--10 {
    background: linear-gradient(90deg, #06e970, #fbfffd) no-repeat;
    background-size: 100%;
}
.rating__line--9 {
    background: linear-gradient(90deg, #06e970, #fbfffd) no-repeat;
    background-size: 90%;
}
.rating__line--8 {
    background: linear-gradient(90deg, #e2e900, #fbfffd) no-repeat;
    background-size: 80%;
}
.rating__line--4 {
    background: linear-gradient(90deg, #e90100, #fbfffd) no-repeat;
    background-size: 40%;
}

.rating__number {
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-end;
}

/*--- Подвал ---*/
footer {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 30px 15px;
}