html {
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #eeeeee;
}
h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*--- Шапка ---*/
header {
    flex: 0 0 auto;
    padding: 36px 15px 18px;
    text-align: center;
}

/*--- Основной контент ---*/
main {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    justify-content: space-around;
    padding: 30px 15px;
}

.main {
    display: flex;
    flex: 3 3 1120px;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 0 0 15px;
}

.card {
    position: relative;

    display: inline-flex;
    flex: 1 1 auto;

    background-color: #fff;
    margin: 0 10px 10px;
}

.card:hover .card__description{
    display: block;
}

.card__img {
    height: 200px;
}

.card__description {
    display: none;
    position: absolute;
    left: 0;
    bottom: 20px;

    color: #fff;

    background-color: rgba(10,10,10,.7);
    padding: 10px 15px;
}

/*--- Меню ---*/
.menu {
    flex: 1 1 200px;
    background-color: #d2d2d2;
}

.menu__right {
    align-self: flex-start;
}

.menu__list {
    list-style-type: none;
}

.menu__item {
    display: flex;
    align-items: flex-start;
    padding: 12px 18px 15px 12px;

    border-bottom: 1px solid #6d6a6a;
}

/*--- Подвал ---*/
footer {
    flex: 0 0 auto;
}