html {
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    background-color: #f6f5f3;
    margin: 18px;
    padding: 18px;
}

.title {
    color: #000000;
    font-family: "Arial MT";
    font-weight: 400;
}
