html {
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}