html {
    height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    position: relative;

    margin: 0;
    padding: 0;

    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6, p, ul, figure {
    margin: 0;
    padding: 0;
}
main {
    height: 100%;
    max-width: 1920px;

    background-color: #f6f5f3;
    margin: 18px;
    padding: 18px;
}

.title {
    color: #000000;
    font-family: "Arial MT";
    font-weight: 400;
}

/*-- Лого --*/
.logo {
    position: absolute;
    top: 0;
    right: 74px;
    background-color: #fff;
    padding: 27px 36px 0;
}
.logo:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 1px;
    top: 86px;
    border-top: 40px solid #fff;
    border-left: 83px solid transparent;
    border-right: 83px solid transparent;
}

/*-- Слайдер --*/
.slider {
    display: flex;
    justify-content: center;
}
.slider__item {
    max-width: 644px;
    color: #000000;
    font-family: "Arial MT";
    font-size: 36px;
    font-weight: 400;
}

/*-- Видео --*/
.video {
    display: flex;
    justify-content: center;
}

/*-- Преимущества --*/
.benefits__title {
    font-size: 47px;
    text-align: center;
}

/*-- Блок "Попробовать" --*/
.try {
    text-align: center;
}
.try__title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 64px;
}

.try__button {
    border: none;
    background-color: #000000;
    background-image: linear-gradient(to top, #ffdb00 0%, #ffe34a 100%);
    border-radius: 7px;
    padding: 19px 46px 16px 47px;

    color: rgba(0, 0, 0, 0.72);
    font-family: "Arial MT";
    font-size: 36px;
    font-weight: 400;
    line-height: 20px;
}

.try__button:hover {
    opacity: .8;
}
